<app-header></app-header>
<div>
  <div class="row">
    <div class="col-sm-12">
      <nav>
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="/client">Login</a>
        </li>
        <li>
          <a routerLink="/catalog">Catalog</a>
        </li>
        <li>
          <a routerLink="/catalog/cart">Cart</a>
        </li>
        <li>
          <a routerLink="/client/account">Account</a>
        </li>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer> </app-footer>
